*{
    box-sizing:border-box
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

#geral
{
    width:400px;
    border:1px solid #000;
    padding: 20px;
    border-radius:10px;
    box-shadow: 0px 0px 30px #ccc;
}

.btn{
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 1.3rem;
}

.btn-laranja{
    background:#ffa500;
}


form input{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.alerta{
    padding: 10px;
    background:#ffe6e6;
    color:#ff0000;
}

header, footer{
    text-align: center;
}

.senha{
    width: 200px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
